.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0 0;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.numbers > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background-color: #f44336;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.numbers > div:last-child {
  background-color: #ffeb3b;
}

.bobly {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.start-button {
  display: block;
  margin: 20px auto;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(90deg, #f44336, #ffeb3b, #4caf50);
  background-size: 200%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: glowing 4s infinite;
}

@keyframes glowing {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.start-button:hover {
  cursor: pointer;
  animation: none;
  background-position: 100%;
  transition: background-position 0.5s ease;
}

.make-me-win-button {
  display: block;
  margin: 20px auto;
  padding: 20px 40px;
  background-color: #ff00ff;
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 50px #ff00ff,
              0 0 5px #fff,
              0 0 10px #fff,
              0 0 15px #fff,
              0 0 20px #fff;
  animation: blink 2s infinite;
  transition: all 0.3s ease;
}

.make-me-win-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 75px #ff00ff,
              0 0 10px #fff,
              0 0 20px #fff,
              0 0 30px #fff,
              0 0 40px #fff;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}